
<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-10">
            <div class="page-header-title">
                <i class="icofont icofont-headphone-alt bg-c-pink card1-icon"></i>
                <div class="d-inline">
                    <h4>Help</h4>
                    <span>
                        Please go through the below points for having a better understanding about how the software works.
                    </span>
                </div>
            </div>
        </div>
         
    </div>
</div>


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">

                <div class="card-block">

                    <ol>
                        <li>
                            <b>Q. How to create a Vehicle?</b>
                        </li>
                    </ol>
                


                </div>
            </div>
        </div>

    </div>


</div>